* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.2;
    margin: 1.414em 0 0.5em;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit !important
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
p {
    margin: 1.875em 0;
}
html {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
}
body {
    display: table;
    box-sizing: border-box;
    padding-left: 30%;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    background: #eff1f3;
    font-family: Tahoma,"Trebuchet MS","Nimbus Sans L",Arial,"Franklin Gothic Medium","Helvetica Neue",Geneva,Verdana,"URW Gothic L","Gill Sans",Helvetica
    ,"Lucida Sans Unicode","Arial Black","Lucida Grande","Microsoft Sans Serif",sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #36453b;
}
header {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background:#9a998c;
    width: 30%;
    height: 100%;
    display: block;
    z-index: 1;
    color:#eff1f3;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: double 1em #eff1f3;
    font-family:Georgia,"URW Palladio L",Times,"Palatino Linotype ","URW Bookman L",Sylfaen,"Times New Roman",
    "Century Schoolbook L","Bitstream Charter",serif;
}
main {
    position: relative;
    display: table-row;
    width: 70%;
    height: 100%;
}
article {
    padding: 4em 0 2.125em;
    word-wrap: break-word;
}
article a {
    color: #9a998c;
}
article .content {
    line-height: 1.5;
    letter-spacing: .12em;
    word-spacing: 1em;
}
time {
    display: table;
    color: #afc2d5;
    margin-bottom: 1.5em;
    font-size: .8em;
}
time a {
    color: inherit !important;
}
footer {
    font-size: 0.8125em;
    padding: 20px 40px;
    text-align: center;
    margin: auto;
    border-top: 1px solid #dbd3d8;
    color: #afc2d5;
}
code, code pre {
    font-family: Courier,"MS Courier New",Prestige,"Everson Mono";
}
.header-wrapper {
    display: table;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 5% 1.25em;
}
.logo img{
    width: 65%;
}
.logo ~ #title {
    margin-top: 20px;
}
.section {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.content-wrapper {
    margin: 0 auto;
    padding: 0 40px 1.875em;
    max-width: 700px;
}
.index article {
    border-bottom: dashed 1px #dbd3d8;
}
.index article:last-of-type {
    border-bottom: none;
}
.previous {
    position: absolute;
    left: 0;
}
.next {
    position: absolute;
    right: 0;
}
#title {
    margin-bottom: 1.3em;
}
#title a {
    color: #36453b;
    font-size: 3em;
    font-weight: 900;
    font-family: 'Snell Roundhand';
    letter-spacing: .15em;
    text-shadow: .08em .05em 3px #dbd3d8;
}
#title a:hover {
    text-decoration: none
}
#description {
    margin: auto;
    margin-top: 20px;
    width: 100%;
    font-size: 1.4em;
}
#pagination {
    position: relative;
    padding-bottom: 4.125em;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8125em;
    color: #afc2d5;
}
#pagination a {
    color: inherit;
}
#title ~ #description {
    margin: 0;
}
#control {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    padding: 5px;
}
.button {
    background: rgba(0, 0, 0, .5);
    font-size: .75em;
    padding: 2px 5px;
    margin-right: 5px;
    color: #fff;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 2px;
    text-align: center;
}
.read-more-block {
    height: 10em;
    overflow: hidden;
    background-color: #eff1f3;
}
@media screen and (max-width: 960px) {
    body {
        padding: 0;
    }
    header {
        position: relative;
        width: 100%;
        height: auto;
        border-right: none;
        border-bottom: double 1em #eff1f3;
    }
    .logo img {
        height: 12.5em;
        width: auto;
    }
}
